/* resetting everything */
* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/lbj_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-size: 17;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    color: red;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header > h1{
    text-align: center;
    padding: 8px;
}

header > h2 {
    color: red;
    font-size: 14px;
    text-align: center;
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 8px;
    margin: 10px 12px;
    text-align: left;
}

article > h2 {
    color: gray;
    padding: 4px 8px;
}

article:first-of-type {
    border: 4px solid gray;
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="checkbox"]:checked + span::after {
    content: "👍";
    display: inline-block;
    animation-name: spin;
    animation-duration: 300ms;
    animation-iteration-count: initial;
    animation-timing-function: linear; 
    transform: rotate(3deg);
    transform: rotate(0.3rad);
    transform: rotate(3grad); 
    transform: rotate(.03turn);
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
}

#inprogress {
    border: 4px solid purple;
}

#inprogress h2 {
    color:purple;
}

#done {
    border-color: gold;
}

#done h2 {
    color: gold;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
}

.progress li:nth-child(odd) {
    background-color: rgba(160, 32, 240, 0.5);
}

.progress li:nth-child(even) {
    background-color: rgba(160, 32, 240, 0.7);
}

.do li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

.do li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.7);
}

.fin li:nth-child(odd) {
    background-color: rgba(255, 215, 0, 0.5);
}

.fin li:nth-child(even) {
    background-color: rgba(255, 215, 0, 0.7);
}
